.app__navbar {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 1rem 2rem;
    background: var(--primary-color);
    //box-shadow: 0 2px 12px 0 rgba(193, 193, 193, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  
    position: fixed;
    z-index: 2;
  }
  
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo{
      color:var(--white-color);
  
      font-weight:bolder;
      span{
        font-weight:400;
        color: var(--secondary-color);
      }
    }
  }
  
  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    list-style: none;
    color: var(--white-color);
  
    li {
      margin: 0 1rem;
      
      
      flex-direction: column;
  
      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;
  
        margin-bottom: 5px;
      }
  
      a {
        color: var(--white-color);
        text-decoration: none;
        flex-direction: column;
  
        text-transform: uppercase;
        font-weight: 500;
  
        transition: all 0.3s ease-in-out;
  
        &:hover {
          color: var(--secondary-color);
        }
      }
  
      &:hover {
        div {
          background: var(--secondary-color);
        }
      }
    }
  
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  
  

 